<div class="card">
        <div class="card__thumb">
          <a href="ideas/one-example-idea.html">
          <% if photo_url.present? %>
            <%= image_tag(photo_url, size: "255x170")  %>
            <% else %>
            <%= image_tag 'http://fpoimg.com/255x170' %>
          <% end %>
          </a>
          <div class="card__intro">
            <h4 class="card__title"><%= card_title %></h4>
            <span><%= done_count %> have done this</span>
          </div>
        </div>
        <div class="card__footer">
          <button class="card__btn card__like delta" data-like="see-the-northern-lights">
            
            Like
          </button>
          <button class="card__btn card__add delta" data-addGoal="see-the-northern-lights">
            
            Add Goal
          </button>
        </div>
      </div>